language: python
git:
  depth: 200
python:
  - '2.6'
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'

install:
  - git config --global user.name array-split
  - git config --global user.email array-split@users.noreply.github.com
  - pwd
  - ls -al `pwd`/*
  - if [[ $TRAVIS_PYTHON_VERSION != '2.6'* ]]; then pip install flake8; else pip install 'flake8<3'; fi
  - pip install 'sphinx>=1.4,<1.6'
  - pip install travis-sphinx
  - pip install coveralls
  - python ./setup.py install

script:
  - flake8 array_split
  - if [[ $TRAVIS_PYTHON_VERSION != '3.2'* ]]; then
      coverage run --source=array_split --omit='*logging*,*unittest*' -m array_split.tests;
    else
      python -m array_split.tests;
    fi
  - # run tests on installed array_split
  - cd docs
  - python -m array_split.tests
  - cd ..
  - if [[ $TRAVIS_PYTHON_VERSION != '2.6'* ]]; then travis-sphinx build; fi

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION != '2.6'* ]]; then travis-sphinx --branches=dev deploy; fi
  - if [[ $TRAVIS_PYTHON_VERSION != '2.6'* ]]; then coveralls; fi

